*{
    margin: 0;
    padding: 0;
   
    font-family: sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
   
}
.left{
    
    width: 25vw;
    height: 79vh;
    padding: 8px;
    
}    
.right{
    
    position: relative;
    width: 75vw;
    /* height: 80vh; */
    margin: 9px;
    /* padding: 8px; */
    background-color: #121212;
}
.container{
    display: flex;
    gap: 3px;
    margin: 2px;
}
.logo > img{
    filter: invert(1);
    background-color: aliceblue;
    width: 100px;
    margin: 10px;
}
ul li img{
   
    filter: invert();
    width: 18px;
    background-color: aliceblue;
    margin: 3px;

}
ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;

    
}
li{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 10px; */
    gap: 8px;
    margin: 5px;
    color: white;
    font-weight: bold;
}
.home{
    border-radius: 4px;
    background-color: #121212;
}
.library{
    position: relative;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
    background-color: #121212;
    min-height: 79vh;
    
}

.library .footer a{
    
    /* text-decoration: none; */
    color: grey;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}
.footer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 2px;
    bottom: 0px;
}
.linb{
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px;
    padding: 10px;
    padding-top: 30px;
    cursor: pointer;
    
}
.linb > img{
    width: 30px;
}
 
.linb > h2{
    color: aliceblue;
    font-size: 15px;
}

.nav{
    display: flex;
    gap: 3px;
    margin: 8px;
    
}
.hamburger{
    display: none;
}
.header{
    display: flex;
    background-color: rgb(34 34 34);
    justify-content: space-between;
    align-items: center;
}
.button{
    border: none;
    
}

.button :first-child{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: gray;
    font-weight: bolder;
    margin-right: 10px ;
}
.button :last-child{
    cursor: pointer;
    background-color: white;
    height: 40px;
    width: 70px;
    border-radius: 40px;
    font-weight: 510;
    margin: 12px;
}
.spotifyPlaylists{
    
    padding: 16px;
}
.playliststore{
    display: flex;
    flex-wrap: wrap;
    max-height: 69vh;
    overflow-y: auto;
}
.spotifyPlaylists >h2{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    padding: 15px;
}
.cardInfo{
    
    margin: 10px;
    position: relative;
    padding: 1px;
    width: 180px;
    /* text-align: center; */
    border-radius: 5px;
    background-color: rgba(91, 88, 88, 0.536);
    
}
.cardInfo:hover{
    background-color: grey;
    transition: all 1s ease-out;
    .play{
        opacity: 1;
        
    }
}
.cardImage{
    
    width: 160px;
    margin: auto;
    margin-top: 10px;
    
}
.cardImage >img{
    /* width: 180px; */
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.cardInfo >h3{
    margin: 3px;
padding: 3px;
color: white;
}
.cardInfo >p{
    
    margin: 5px;
    padding: 2px;
    font-size: 13px;
    margin-bottom: 3px;color: white;
}

.play{
    position: absolute;
    display: flex;
    background-color: #1db954;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 0;
    margin: 16px;
    top: 120px;
    opacity: 0;
    transition: all 0.5s ease-out;
    
}



.songlist{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-height: 44vh;
    overflow-y: auto;
}

.songlist > .songcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    min-height: 45px;
    
}
.songcard> div>img{
    filter: invert();
    padding: 9px;
    width: 25px;
}
.songcard> div>h5{
    
     /* overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    padding: 5px;   */
}
.songcard>div> div>p{
    padding: 1px;
    font-size: 12px;
    }

.songcard> div>button{
    padding: 1px;
    margin-right: 6px;
    align-self: center;
    align-content: center;
    cursor: pointer;
    
    /* background-image: url(img/play.svg); */
    border-radius: 100%;
    background-color: transparent;
    border: none;
}
.songcard> div>button >img{
    margin: auto;
    /* color: aliceblue; */
    filter: invert();
    /* fill: #121212,; */

}
.songcard >div{
    
    display: flex;
    align-items: center;
    gap: 3px;
}

.palybar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    position: fixed;
    border-radius: 5px;
    width: 70%;
    height: 60px;
    bottom: 23px;
    margin: auto;
    background-color: #5a5a58;
}

.previous, .playPause, .next{
    cursor: pointer;
}
.seekbar{
    position: relative;
    display: flex;
    background-color: white;
    width: 90%;
    height: 4px;
    bottom: 7px;
    position: absolute;
    cursor: pointer;
}
.controlPlay{
    
    display: flex;
    justify-content: center;
     align-items: center; 
    
}
.seekbarTrack{
    transition: all .1s;
    position: absolute;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: -3px;
    left:  0%;
}

.abovebar{
    
    /* display: flex; */
    color: white;
    font-weight: bolder;
    /* justify-content: space-between; */
    align-items: center;
    
}

.abovebar>.songinfo{
    position: absolute;
    left: 15px;
}
.abovebar>.songtime{
    position: absolute;
    top: 46%;
    right: 25px;
    font-size: 12px;
}
.cross{
    display: none;
}
.range{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 7px;
    width: 90px;
    height: 6px;
    position: absolute;
    right: 20px;
    top: 25%;
}


.range > input{
    width: 100%;
    height: 6px;
    
    border-radius: 5px;
    cursor: pointer;
}
.range> img{
    width: 18px;
    cursor: pointer;
}


.range input[type="range"] {
    -webkit-appearance:none; /* Remove default styling */
    appearance: none;
    width: 100%; /* Adjust width */
    background: transparent; /* Make the background transparent */
}

/* Track */
.range input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px; /* Adjust the height */
    background: #bfbbb3; /* Change to desired track color */
    border-radius: 3px;
    border: none;
}



/* Thumb */
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; /* Adjust thumb size */
    height: 16px;
    background: #fffcfb; /* Change to desired thumb color */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: -5px; /* Adjust for alignment */
}

[data-folder="zlike"] {
    display: none;
}




@media screen and (max-width: 920px) {
    
    .left{
       
        transition: all 1s;
        /* background-color: #ffffff; */
        position: absolute;
        z-index: 3;
        left: -150%;
        width: 65vw;
    }
    .right{
        width: 100vw;

    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .cross{
        display: block;
        position: absolute;
        right: 0;
        padding: 10px;
        margin: 10px;
    }
    .container{
        margin: 0;
        padding: 0;
    }

    .palybar{
        width: calc(100vw - 20px);
        min-height: auto;
    }
    .spotifyPlaylists > h2{
        font-size: 25px;
    }
    .spotifyPlaylists{
        padding: 10px;
        margin: 0px;
    }
    .library{
        min-height: 69vh;
    }

}

@media screen and (max-width: 645px){
    .playliststore{
        display: flex;
        flex-wrap: wrap;
        /* max-height: 65vh; */
        overflow-y: auto;
        justify-content: center;
    }
    .cardInfo{
     width: 70vw;
          
    }
  
    .cardImage{
        
        width: 70vw;
        margin: auto;
        margin-top: 0px;
        
    }
    .play{
        top: 60%;
    }
  
}